{% extends 'blog/base.html' %}

{% block content %}

<div class="form-wrapper">
    <h2 class="form-title">Add New Post</h2>

    <form method="POST" enctype="multipart/form-data" class="add-form">
        {% csrf_token %}

        <label>Title</label>
        <input type="text" name="title" required>

        <label>Content</label>
        <textarea name="content" rows="6" required></textarea>

        <input type="file" name="poster" class="file-input"/>
        

        <button type="submit" class="submit-btn">Publish</button>
    </form>
</div>

{% endblock %}
